<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BoardQnaVO">
	<insert id="add" parameterType="Qna">
		INSERT into Board VALUES(Board_seq.nextVal,#{clientIdx},#{title},#{content},sysdate,#{boardTypeIdx},#{tingIdx})
	</insert>
</mapper>