<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ClientInterestDAO">

	<insert id="insertClientInterest" parameterType="clientInterest">
		INSERT INTO clientInterest
		VALUES(clientInterest_seq.nextVal,#{clientIdx},#{interestIdx})
	</insert>
	
	
	
	
	
	
</mapper>