<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CoupleDecisionDAO">

	<!-- 커플확정 테이블에 정보 insert -->
	<insert id="insertCoupleDecision" parameterType="coupleDecision">
		INSERT INTO CoupleDecision(coupleIdx, clientIdx, otherIdx,decisionTime)
		VALUES(couple_seq.nextval,#{clientIdx},#{otherIdx},SYSDATE)
	</insert>
	
</mapper>