<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PaymentDAO">

	<!-- 구매내역 insert -->
	<insert id="insert_payment" parameterType="payment">
		insert into payment values(#{clientIdx},#{goodIdx},sysdate,#{method})	
	</insert>
	
	<!-- 구매내역 출력 -->
	<select id="select_Payment" resultType="payment">
		select clientIdx,goodIdx,when,method from payment where clientIdx=#{clientIdx}	
	</select>
	
	<!-- 하트갯수 업데이트 -->
	<update id="update_heart" parameterType="payment">
      update 
      clientDetailInfo 
      set totalHeart = totalHeart +
      <choose>
          <when test="goodIdx == 1">
            3
          </when>
          <when test="goodIdx == 2">
            10
          </when>
          <otherwise>
            30
          </otherwise>
        </choose>

      where clientIdx=#{clientIdx}
   </update>
	
	

	

	 <resultMap type="payment" id="paymentResult">
		<id property="goodIdx" column="goodIdx" />
		<result property="when" column="when" />
		<result property="method" column="method" />
				
		<association property="goods" column="goodIdx" javaType="goods">
			<id property="goodIdx" column="goodIdx" />
			<result column="price" property="price"/>
			<result column="goodName" property="goodName"/>
		</association>
	</resultMap>


	
	

 <select id="selectPayment" resultMap="paymentResult" >
	select p.when ,g.goodName, g.price , p.method   
	from payment p ,  goods g 
	where p.goodIdx = g.goodIdx and p.clientIdx = #{clientIdx}
	
</select>	 





</mapper>