<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tingBoardLog">


	<insert id="read_log" parameterType="tlvo">
		insert into tingBoardLog
		values(tingBoardLog_seq.nextVal,#{boardIdx},#{clientIdx},#{reip},#{uagent},sysdate)
	</insert>


</mapper>  