<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TingBoardDAO">

	<insert id="insertBoard" parameterType="board">
		INSERT INTO Board(boardIdx, title, clientIdx, content, regdate, boardTypeIdx)
		VALUES(Board_seq.nextval,#{title},#{clientIdx},#{content},sysdate,#{boardTypeIdx})	
	</insert>
	
	<update id="updateBoard" parameterType="board">
		UPDATE Board SET  
		TITLE = #{title},
		CONTENT = #{content}		
		WHERE boardIdx = #{boardIdx}			
	</update>	
	 
	<delete id="deleteBoard" parameterType="board" >
		DELETE BOARD
		WHERE boardIdx = #{boardIdx}
	</delete>
	
	<select id="getBoard" resultType="board" >
		SELECT *
		FROM BOARD
		WHERE boardIdx = #{boardIdx}
	</select>
	 
	 
	 
	 
	 <resultMap type="board" id="boardNickResult">
		<id property="clientIdx" column="clientIdx" />
		<result property="boardIdx" column="boardIdx" />
		<result property="title" column="title" />
		<result property="content" column="content" />
		<result property="regdate" column="regdate" />
		<!--property="sphone" getSphone() column="sabun" => s.sabun sabun javaType="sphonevo" 
			: 참조하는 실제 VO -->
		<association property="clientDetailInfo" column="clientIdx"
			javaType="clientDetailInfo">
			<id property="clientIdx" column="clientIdx" />
			<result property="nickname" column="nickname" />

		</association>
	</resultMap>
	<select id="getBoardList" resultMap="boardNickResult">
		select b.boardidx, b.title, b.content,
		b.regdate,c.nickname
		from board b, clientdetailinfo c
		where b.clientidx=c.clientidx
		
	</select>
	 
	 	
	 
   

	   
	
</mapper>